/** 
 ** file: mp-black.css
 ** label: Black Single Column
 ** 
 ** The "Black Single Column" theme for MoneyPress. 
 **
 **/
 
/* Product Rows */ 
 .csl_themes-row {
    clear: both;
    min-width: 852px;
 }
 
 /* Product Box Header */
 div#content div.csl_themes-product h3 { 
     margin: 0px 0px 3px 0px;
 }
 
/* Product Zoom */
div.csl_themes-product div.csl_themes-left div.csl_themes-zoombox {
    background: url("../core/images/General_icons16.png") 
        no-repeat scroll 
        -41px 0px 
        transparent; 
    height:20px;
    width: 20px;
    float: left;
    cursor: pointer;  
    margin: 0px;
    padding: 0px;
} 
div.csl_themes-zoombox a.thickbox {
    padding: 0px 5px;
    text-decoration: none;
}
  
 
.csl_themes-product {
    clear: both;
    background-color: #000000;
    border: 1px solid #222222;
    margin: 10px 0;
    padding: 0px;
    min-height: 155px;
}

.csl_themes-product div {
    padding: 0 0 0 5px;
}

#content .csl_themes-product h3 {
    background: none repeat scroll 0 0 #F4F4F4;
    font-family:Verdana, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 6px;
    color: #F4F4F4;
}

.csl_themes-product img {
    float: left;
    padding: 0 5px 5px 0;
    max-width: 150px;
    max-height: 120px;
}

.csl_themes-product li {
    list-style: none;
}

